#lifeBarContainer{
    top: 80px;
    position: absolute;
    width: 360px;
    height: 15px;
    border-radius: 4px;
    background-color: lightgrey;
    padding: 3px;
    transition: width 400ms ease-in-out;
}

#attackBarContainer{
    top: 60px;
    position: absolute;
    width: 240px;
    height: 15px;
    border-radius: 4px;
    background-color: lightgrey;
    padding: 3px;
}

.progressBar{
    height: 100%;
    border-radius: 4px;
}