#settingsTable{
  position : absolute;
  left: 25vw;
  top : 25vh;
  width : 50vw;
  height : 50vh;
  background-image: url("../image/parchemin.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px;
  z-index : 10;
  font-size : 40px;
  border-radius: 5px;
}

#settingsTable p{
  width: 40vw;
  margin-left: 5vw;
  margin-top: 3vh;
  font-size: 20px;
  text-align: right
}

#settingsTable table{
  border: 1px solid black;
  border-collapse: collapse;
  width: 40vw;
  margin-left: 5vw
}

#settingsTable th, #settingsTable tr, #settingsTable td{
  text-align: center;
  border: 1px solid black;
  padding: 0px 15px;
}

#settingsTable .row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#settingsTable button, #settingsTable img{
  width: 30px;
  height: 30px;
}


