.container-fluid{
    background-image: url("../image/backgroundQuidditch.jpg");
}

.container-fluid button{
    background-image: url("../image/parchemin.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    border-radius: 5px;
}

.container-fluid button:hover{
    text-decoration: none;
}

.container-fluid Link:hover{
    text-decoration: none;
}