#instructionTable{
    position : absolute;
    left: 10vw;
    top : 3vh;
    width : 80vw;
    height : 92vh;
    padding: 30px;
    background-image: url("../image/parchemin.png");
    background-repeat: no-repeat;
    background-size: cover;
    color : black;
    z-index : 10;
    font-size : 40px;
    border-radius: 5px;
}

#instructionTable p{
    font-size: 20px;
    margin : 0;
    padding : 0;
    text-align: right
}

#instructionTable table{
    border: 1px solid black;
    border-collapse: collapse;
    width: 1000px;
    margin: auto;
}

#instructionTable th, #instructionTable tr, #instructionTable td{
    text-align: center;
    border: 1px solid black;
    padding: 0px 15px;
}

#instructionTable .keyboardKey{
    width: 60px;
    height: 60px;
}

#instructionTable .row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#gameIndications{
    margin-top: 10px;
}

#instructionTable span{
    font-size: 30px;
    text-align: start;
    margin: 0 20px;
    padding-left: 20px;
}

.bonus{
    display: inline-block;
    width: 60px;
    height: 60px;
}

