@font-face{
    font-family: "PotterFont";
    src: url('font/HARRYP__.TTF')format("truetype");
}
.App{
    font-family: "PotterFont";
    margin: 0;
    padding: 0;
    background-image: url("image/fireGobletBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover
}

