@font-face{
    font-family: "PotterFont";
    src: url('font/HARRYP__.TTF')format("truetype");
}
.App{
    font-family: "PotterFont";
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

